<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{%load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<div>
  <h3 class="mb-5">Below is the list of properties you marked as your favorite:</h3>

  {% for property in properties%}
    <div class="card mb-5">
      {% if user.is_authenticated and user.is_buyer %}
      <div class="card-header">{{property.name}}<a href="{% url 'properties:unmark_as_favorite' pk=property.id %}" class="favorite-icon float-right"><i class="fas fa-heart fa-2x"></i></a></div>
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{property.address}}, {{property.city}}, {{property.state}}, {{property.zipcode}}</h5>
        <p class="card-text">{{property.description}}</p>
        <p class="card-text">{{property.seller.user.first_name}} {{property.seller.user.last_name}}</p>
        <a href="{% url 'properties:message_owner' propertyId=property.id %}" class="btn btn-primary">Contact owner</a>
        <a class="btn btn-primary">Email me more</a>
      </div>
    </div>
  {% endfor%}
</div>
{% endblock content %}
</html>
