<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{%load static %}
{% block title %}View your properties{% endblock title %}

{% block content %}
<div>
  {% for property in properties%}
    <div class="card mb-5">
      <div class="card-header">{{property.name}}</div>
      <div class="card-body">
        <h5 class="card-title">{{property.address}}, {{property.city}}, {{property.state}}, {{property.zipcode}}</h5>
        <p class="card-text">{{property.description}}</p>
        <a href="{% url 'properties:edit_property' pk=property.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'properties:delete_property' pk=property.id %}" class="btn btn-primary">Delete</a>
      </div>
    </div>
  {% endfor%}
</div>
{% endblock content %}
</html>
