{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}

{% block content %}
{% if validlink %}
       <div class="full-screen-height">
         <h3 class="text-center">Set a new password!</h3>
        <form class="custom-form" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
            <div class="buttons-container">
                <input class="btn btn-primary" type="submit" value="Change my password">
            </div>
        </form>
        {% else %}

        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
       </div>
{% endif %}
{% endblock %}