<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{%load static %}
{% block title %}About us{% endblock title %}

{% block content %}
<div class="row mb-5 mt-5 ml-auto mr-auto">
    <div class="col-sm-3 mr-5 ml-5 ">
        <div class="row mb-5">
            <div class="about-us-heading">
                WHAT IS BONVOYAGE?
            </div>
            <div class="about-us-text">
                Established in 2005, find my property provides property search agency services by brings buyers and sellers to one platform.
                Our customer sell and/or buy the properties they like without worrying about the brokerage costs since the we
                do not charge brokerage fee like many other property search agency services.
            </div>
        </div>
        <div class="row mb-5">
            <div class="about-us-heading">
                WHY CHOOSE FIND MY PROPERTY?
            </div>
            <div class="about-us-text">
                We bring buyers and sellers to one platform to sell and/or buy properties they wish across Unites States.
                We have an active 3,500+ customer who are active sellers or buyers.
                Our team is always ready to assist you and generally reply within a two days.
                So what's holding you ??? Sign up and search for your ideal property.
            </div>
        </div>
        <div class="row mb-5">
            <div class="about-us-heading">
                WHAT WE OFFER?
            </div>
            <div class="about-us-text">
                The website is designed to bring sellers and buyers under one roof and avoid going through brokers to sell or buy a property.
                The website is very easy to use and also user-friendly.
                Customers registered as buyers can mark properties as favorites or request for a PDF with property details.
                Customer registered as sellers can post their property details and check if any buyer has sent a message about it.
            </div>
        </div>
    </div>
    <div class="col-sm-3 mr-5 ml-5">
        <div class="row mb-5">
            <div class="about-us-heading">
                WHAT CUSTOMER TELL ABOUT US?
            </div>
            <div class="about-us-text">
                "Find my property brings genuie sellers with their best properties on their website. I have recently purchased a property from a seller on this website and it has all the elements I have always wanted in a home.
                I always look at their website and also suggest it to my friends when they are in search for a new property.
                Their team is super friendly and assists us on the best properties so that I get my ideal property."
                - Venessa Fink, Denver, CO <br/> <br/> <br/>
                "As a student, I never thought I could find a property easily and within my budget since they are expensive but
                find my property's staff have assisted me all along and made sure I got an apartment for a rent that I could afford. Really happy with their service."<br/>
                - Micheal Dessy, Lincoln, NE <br/> <br/> <br/>
            </div>
        </div>
    </div>
    <div class="col-sm-3 ml-5">
        <div class="row mb-5">
            <div class="about-us-heading">
                OPERATION UNDER COVID-19
            </div>
            <div class="about-us-text">
                COVID-19 has had an great impact on the way business are being operated throughout the world.
                We have also adapted our ways to conduct business by launching this website since your primary concern.
                Prior to COVID, we conducted our business only through our office @ Elwood Street, West dodge road, Omaha, NE-12345.
                Our office is now open and precautions are taken as per suggestions of WHO directions.
                But since we are operating with lesser staff than usual,
                we request you to use the website to search for properties and contact us through phone or email to book a vacation.
                You may visit the office BUT ONLY on appointment basis. Please make an appointment ATLEAST 3-days prior to your planned visit.
                We our doing our best to serve you during these difficult times. Thanks for your understanding.
            </div>
        </div>
    </div>
</div>
{% endblock content %}
</html>
